/* login */
.login {
  overflow: hidden;
  width: 100%;
  background-color: #4b95e5;
  height: 100dvh;
}
.wrapper {
  margin: 4% 16%;
  border-radius: 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px gray;
}
.poster {
  width: 50%;
  overflow: hidden;
}
.poster img {
  width: 100%;
  height: 81dvh;
  object-fit: cover;
  object-position: center;
  min-height: 35rem;
}
.loginForm {
  padding: 8em 2em;
  height: 81dvh;
  width: 50%;
  background-color: #ffffff;
}

/* register */
.registerWrapper {
  margin: 4% 16%;
  border-radius: 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px gray;
}
.registerForm {
  padding: 3em 2em;
  height: 81dvh;
  width: 50%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px gray;
}

/* media queries */
@media screen and (max-width: 768px) {
  .poster {
    display: none;
  }
  .login {
    height: 100dvh;
    width: 100dvw;
  }

  .wrapper {
    margin: 0;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loginForm {
    font-size: 1em;
    padding: 4em 1em;
    height: 100%;
    width: 100%;
  }
  .registerWrapper {
    margin: 0;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .registerForm {
    font-size: 1em;
    padding: 2em 1em;
    height: 100%;
    width: 100%;
    label {
      font-size: 1em;
    }
    input[type="text"] {
      font-size: 0.8em;
    }
  }
}

/* profile */
.profile {
  width: 50%;
}

.editBtn {
  position: absolute;
  top: 18rem;
  right: 15rem;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 90vw;
  }
  .editBtn {
    top: 18rem;
    right: 2rem;
    font-size: 1.5rem;
  }
}

/* updateProfile */
#updateProfile {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
#updateProfile form {
  border: 1px solid gray;
  margin: 0 auto;
  width: 85%;
  padding: 5% 10%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/* CreateTrade modal */
#modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

#modal-content {
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
  color: #000;
}

/* Dashboard */
#dashboard {
  min-height: 100dvh;
  background-color: #0f1113;
  border: 0.5px solid #718ba6;
}

#allTrades {
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  #dashboard .btns h2 {
    font-size: 1.2rem;
    padding: 2px 5px;
  }
  #dashboard .btns button {
    text-wrap: none;
    font-size: 0.5rem;
    margin: 0 0.8rem;
    padding: 0.2rem 1rem;
  }

  /* All trades */
  #allTrades h1 {
    font-size: 1.2rem;
  }
}

/* TradesTable */
/* @media screen and (max-width: 768px) {
  #tradeTable {
    width: 100%;
  }
  #tradeTable table tbody tr {
    background: red;
  }
  #tradeTable thead tr th {
    font-size: 0.3rem;
  }
  #tradeTable tbody tr {
    text-wrap: wrap;
  }
  #tradeTable tbody td {
    font-size: 0.2rem;
    text-wrap: wrap;
  }
} */

@media screen and (max-width: 768px) {
  #tradeTable thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  #tradeTable {
    width: 100%;
    overflow-x: auto;
  }

  #tradeTable table {
    min-width: 1000px;
  }

  #tradeTable thead tr th {
    font-size: 0.7rem;
    white-space: nowrap;
  }

  #tradeTable tbody td {
    font-size: 0.65rem;
    white-space: nowrap;
  }

  #tradeTable .btn {
    font-size: 0.6rem;
    padding: 2px 5px;
  }

}


/* AddStockModal */
#addStock {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  border: 1px solid black;
}

/* Hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 404 page*/
.page_404 {
  text-align: center;
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 70dvh;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  text-decoration: none;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

/* toast-style */

/* Medium screens and above */
@media (max-width: 768px) {
  .custom-toast-container {
    margin: 1rem 1rem;
  }
}
