/* CreateTrade modal */
#modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
  color: #000;
}

/* Navbar */
.nav {
  background-color: whitesmoke;
  border: 1px solid gray;
  font-family: "Poppins dark";
}
/*.nav .logo{
   background-image: url('../public/images/StockTally.png');
  object-fit: cover;
  object-position: center;
  height: 50px;
  width: 50px;
  
} */
.nav .links {
  transition: 0.5s ease;

  
  .li {
    text-decoration: none;
    color: rgb(2, 7, 91);
    &:hover {
      /* color: white; */
      transform: scale(1.1);
      text-decoration: underline;
      /* background-color: rgb(2, 7, 91); */
    }
  }
}
